header{
  height: $header-height;
  width: 100vw;
  background: $header-background;
  display: flex;
  align-items: center;
  section{
    margin-left: 10px;
    .logo{
      img{
        height: 20px;
      }
    }
  }
}
nav{
  ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    li{
      color: $nav-item-color;
      flex: 1;
      text-align: center;
      padding: 10px 0;
      position: relative;
      &.active{
        color: $nav-item-active;
      }
      &.active::after{
        content: '';
        display: block;
        height: 2px;
        background: $nav-item-active;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}
main{
  .hide{
    display: none;
  }
  .rec-view{
    .radio{
      h2{
        margin: 8px;
      }
      .radio-item{
        display: flex;
        .item{
          position: relative;
          .pic{
            width: 47vw;
          }
          &:nth-child(even){
            margin-left: 1vw;
            margin-right: 2vw;
          }
          &:nth-child(odd){
            margin-right: 1vw;
            margin-left: 2vw;
          }
          .play{
            position: absolute;
            margin-top: -32px;
            right: 5px;
            width:24px;
            height: 24px;
            overflow: hidden;
            img{
              width: 24px;
            }
          }
          .title{
            height: 12vw;
            width: 47vw;
            background: #ffffff;
            margin-top: -4px;
            font-size: 12px;
            padding: 8px 4px 0px 4px;
          }
        }
      }
    }
    .songList{
      h2{
        margin: 8px;
      }
      .songList-item{
        display: flex;
        flex-wrap: wrap;
        .item{
          position: relative;
          margin-bottom: 8px;
          .pic{
            width: 47vw;
          }
          &:nth-child(even){
            margin-left: 1vw;
            margin-right: 2vw;
          }
          &:nth-child(odd){
            margin-right: 1vw;
            margin-left: 2vw;
          }
          .play{
            position: absolute;
            margin-top: -32px;
            right: 5px;
            width:24px;
            height: 24px;
            overflow: hidden;
            img{
              width: 24px;
            }
          }
          .title{
            height: 12vw;
            width: 47vw;
            background: #ffffff;
            margin-top: -4px;
            font-size: 12px;
            padding: 4px;
          }
        }
      }
    }
  }
}
