$header-background: #42002D;
$header-height: 44px;
$body-background: #f4f4f4;
$nav-item-color: rgba(0,0,0,0.6);
$nav-item-active: #42002D;

.hide{
  display: none;
}

.notScroll{
  overflow: hidden;
}